{#
 # Articles index template
 #}

{% extends "_layout" %}
{% set title = "Articles" %}

{% block content %}
	<h1>Articles</h1>

	{% for entry in craft.entries.section('articles').find() %}
		<article>
			<h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
			<p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
			<p><a href="{{ entry.url }}">Continue reading</a></p>
		</article>
	{% endfor %}
{% endblock %}
