@import 'mixins';
@import 'variables';
@import 'article';

body {
	font-size: 100%;
	font-size: 16px;
	font-family: "lato", helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: $black;
}

a {
	font-weight: bold;
	color: $black;
}

img {
	max-width: 100%;
	height: auto; 
}

#container {
	height: 100%;
	position: absolute;
	width: 100%;
}

header {
	-webkit-background-size: cover; 
	-o-background-size: cover; 
	background-size: cover; 
	padding: 2em;
	height: 80%;

	&:after { 
		content: "";
		clear: both;
	}

	h1 {

		margin: 0;
		width: 100px;
		float: left;
		
		a {
			margin: 0;
			text-indent: -10000px;
			display: block;
			background: url('img/the-bay-logo.png') no-repeat;
			background-size: 100px 100px;
			height: 100px;
			width: 100px;
		}
	}
}

nav {
	display: inline-block;
	float: right;
	background: $black;
	margin-top: 30px;
	font-size: .75em;
	-webkit-border-radius: 3px; 
	border-radius: 3px; 

	ul { 
		list-style-type: none;
		float: right;
		margin: 0;
		padding: 1em;
		}
	

	li {
		margin: 0 2em 0 2em;
		@include futura;
		text-transform: uppercase;
		display: inline-block;
		a { 
			text-decoration: none;
			color: white;
			}
	}
}

p {
	@include maxwidth;
	font-size: 1.25em;
	margin: 2em auto;
	line-height: 1.5em;
}

h1 {
	@include maxwidth;
	font-size: 2em;
	font-weight: 200;
	font-family: futura;
	text-transform: uppercase; 
	margin-top: 2em;
}